.my-img{
    border-radius: 10px;
    width: 30%;
    margin: 13px 0px 13px;
}

.banner{
    background-color: #e0574d;
}

h1{
    color: #e0574d;
    margin-top: 50px;
    margin-bottom: 10px;
}

p{
    font-size: 12pt;
    line-height: 20pt;
}